<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <title>Bauru</title>
</head>
<body>
    <h1>Bauru</h1>
    <div class="bordaDiv">
      <h3>História</h3>
      <p>
          A Associação Bauru Basketball Team está entre as principais equipes profissionais de basquete do Brasil. 
          Fundada em 18 de setembro de 2007, o time do interior de São Paulo pertence ao grupo das oito equipes 
          fundadoras da Liga Nacional de Basquete e participou de todas as edições do Novo Basquete Brasil (NBB), 
          principal competição da modalidade no país.
          Presente em todas as fases de playoffs desde que o NBB surgiu e disputando três finais seguidas do campeonato 
          nacional, o Bauru Basket conquistou, em 2017, o título inédito do NBB.

          A história do Bauru Basket começa em 1994 quando a Tilibra, empresa de materiais escolares, fez uma parceria 
          com o clube da cidade, o Luso. O time foi crescendo, disputou a segunda divisão do Campeonato Paulista e, 
          em 1996, se sagrou campeão da Divisão em cima do Trianon Clube de Jacareí.
          Em 1997, a equipe de Bauru virou Tilibra/Copimax e fisgou um nono lugar no Paulistão.
          No ano seguinte, conseguiu finalizar em quinto lugar e se credenciou para disputar o campeonato de elite em 1999.
          Neste período, Bauru também participou pela primeira vez do Campeonato Brasileiro e terminou em quarto lugar. 
          Depois, ficou com o segundo lugar em sua estreia em torneio internacionais, no Campeonato Sul-Americano de Clubes, 
          perdendo a final para o consolidado Vasco da Gama na prorrogação.
      </p>
      <h3>Jogadores</h3>
      <dl>
          <dt>Armador:</dt>
          <dd>Alexei Patrício</dd>
          <dd>Larry Taylor</dd>
          <dd>Alexey Borges</dd>

          <dt>Ala:</dt>
          <dd>Gui Deodato</dd>
          <dd>Gabriel Henrique</dd>
          <dd>Alex Ribeiro</dd>
          <dd>João Guizardi</dd>
          <dd>João Oliveira</dd>

          <dt>Ala/Pivô:</dt>
          <dd>Emaniel Matias</dd>
          <dd>Thales Alves</dd>
          <dd>Gabriel Jaú</dd>
          
          <dt>Pivô:</dt>
          <dd>Tyrone Curnell</dd>
          <dd>Lukas Josuel</dd>
          <dd>João Pedro</dd>
          <dd>Dikembe</dd>
        </dl>

        <h3>Comissão Técnica</h3>
        <dl>
          <dt>Treinador/Técnico:</dt>
          <dd>Leonardo Figueiro Alves</dd>

          <dt>Assistente Técnico:</dt>
          <dd>Hudson Trentin Previdelo</dd>

          <dt>Preparador Físico:</dt>
          <dd>Bruno Henrique Ferreira Camargo</dd>

          <dt>Fisioterapeuta:</dt>
          <dd>Gustavo de Carvalho Lopes</dd>
        </dl>
    </div>

</body>
</html>