<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Brasília</title>
</head>
<body>
    <h3>História</h3>
    <p>
        Apesar de ainda ser considerado novo, o NBB já possui grandes times que foram campeões e se eternizaram 
        na história. Um deles foi a extinta franquia do Lobos Brasília. Equipe que marcou época com muitas vitórias, 
        mas hoje está fora do cenário nacional.

        Criado em 2000, o time do Distrito Federal foi inicialmente ligado ao patrocínio da Universidade Salgado de Oliveira,
        mais conhecida como “Universo”. Desde então dominou o cenário do estado no basquete, colecionando conquistas 
        nacionais e montando equipes que sempre forneciam jogadores para a seleção brasileira.

        Na primeira edição do Novo Basquete Brasil, o NBB, a equipe já mostrou sua força vinda de torneios anteriores 
        e foi finalista. O Flamengo, liderado por Marcelinho Machado, venceu o Brasília em uma das séries mais equilibradas 
        da história, por 3 a 2. Mas os brasilienses, que naquele ano tinham vencido a Liga das Américas, 
        sabiam que podiam alcançar o topo no passar dos anos.
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>P. Rava</dd>
        <dd>Gabriel Carlos</dd>
        <dd>Nezinho</dd>
        
        <dt>Ala/Armador:</dt>
        <dd>Gui Santos</dd>
        
        <dt>Ala:</dt>
        <dd>Arthur Luiz</dd>
        <dd>Danilo Martins</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Gemerson da Silva</dd>
        <dd>Diego</dd>
        <dd>Gabriel Jaú</dd>

        <dt>Pivô:</dt>
        <dd>Marcelão</dd>
        <dd>Caio Torres</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Ricardo Araújo de Oliveira</dd>

        <dt>Assistente Técnico:</dt>
        <dd>Michael Rossi Swioklo</dd>

        <dt>Preparador Físico:</dt>
        <dd>Iran Nakamura</dd>

        <dt>Fisioterapeuta:</dt>
        <dd>Carlos Eduardo Moreira Ewbanks</dd>
      </dl>

</body>
</html>