<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar Placar</h1>
    <form action="cadastrar" method="POST">
        <label>Time 1:</label>
        <input type="text" name="nometime1"/>
        <label>:</label>
        <input type="text" name="golstime1"/>
        <label>Time 2:</label>
        <input type="text" name="nometime2"/>
        <label></label>
        <input type="text" name="golstime2"/>
        <input type="submit" value="Salvar"/>

    </form>
</body>
<!-- "{{ url_for('cadastrar') }}" -->
</html>