<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Caxias do Sul</title>
</head>
<body>
    <h1>Caxias do sul</h1>
    <h3>História</h3>
    <p>
        O Caxias do Sul Basquete foi criado em 2006. Desde então, somou títulos estaduais e regionais. 
        Logo na sua primeira temporada, a equipe foi vice-campeã estadual e terminou na terceira colocação da Copa Sul-Brasileira. 
        O primeiro título estadual veio em 2009, depois de uma nova segunda colocação no ano anterior. 
        Já a primeira vez que a equipe levantou uma taça regional foi em 2013. No total entre 2006 e 2017 foram seis estaduais e 
        três regionais na conta do time de Caxias do Sul.

        Ademais, como o estadual teve a sua última edição em 2017, o time que manda seus jogos no Ginásio Vasco da Gama, 
        é o atual tetracampeão estadual. Além disso, a equipe fez também campanhas de destaque a nível nacional.

        Em 2015, o clube participou da segunda edição da Liga Ouro. O resultado não podia ser mais animador, logo na sua primeira 
        aparição em um torneio nacionais, a equipe levou o título. A campanha na fase de classificação foi excelente conquistando 66% 
        dos pontos possíveis, vencendo 8 das 12 partidas e ficando em primeiro lugar geral. Como resultado da primeira fase, 
        o time gaúcho foi direto para final. No confronto pelo troféu, uma disputa de quatro partidas contra o Sport. 
        O Caxias venceu três, levou o título e a vaga para o NBB 8.
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Eugeniusz</dd>
        <dd>Nico</dd>
        
        <dt>Ala/Armador:</dt>
        <dd>Marco</dd>

        <dt>Ala:</dt>
        <dd>Pedro</dd>
        <dd>Pedro César</dd>
        <dd>Shaw</dd>
        <dd>Eddy</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Da Silva</dd>
        <dd>Antonio</dd>
        <dd>R. Stabile</dd>
        <dd>Paixão</dd>

        <dt>Pivô:</dt>
        <dd>Adriano Big</dd>
        <dd>Rubinho</dd>
        <dd>Dida</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Rodrigo Barbosa</dd>

        <dt>Assistente Técnico:</dt>
        <dd>Leonardo de Oliveira Gomes</dd>

        <dt>Preparador Físico:</dt>
        <dd>Fabrício André Jacoby</dd>

        <dt>Fisioterapeuta:</dt>
        <dd>Rafael Francis Plein</dd>
      </dl>

</body>
</html>