<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Cerrado</title>
</head>
<body>
    <h1>Cerrado</h1>
    <h3>História</h3>
    <p>
        O movimento esportivo denominado “Cerrado Basquete” surge da visão de seus fundadores, 
        Dimitri Rodrigues e Felipe Bretas em devolver ao mundo tudo aquilo que receberam com o esporte, 
        como estudo de qualidade por meio de bolsas de estudo, disciplina, amizades verdadeiras, respeito, 
        espírito de equipe e colaboração, ética, ajuda ao próximo entre outros valores, fundamentais para o 
        desenvolvimento humano. Além disso, o sentimento de poder ir além e transformar vidas e proporcionar 
        para aqueles que tem potencial e condições, um futuro melhor por meio do esporte.
        O olhar com empatia para o lado humano das pessoas independente de qualquer outro interesse e proporcionar
        oportunidades para aqueles que provavelmente não a teriam e assim aproveitar todos os talentos e potencialidades 
        que forem possíveis.
        Assim surge o Cerrado Basquete, de um sonho, que hoje já é uma realidade.

        Para a Liga Ouro de Basquete de 2019, o Cerrado reforçou o elenco com a contratação de três jogadores
        norte-americanos, um uruguaio e nove atletas com rodagem em outros times nacionais. Com melhor rendimento, 
        a equipe conquistou vaga para os playoffs do torneio, sendo eliminada pela Unifacisa, que acabou campeã da competição.

        Ainda em julho de 2019, o Cerrado chegou a pleitear uma vaga na expansão do Novo Basquete Brasil (NBB),
        mas não conseguiu demonstrar a capacidade financeira a tempo da inscrição no torneio. Em novembro, porém, 
        a equipe anunciou o patrocínio master do Banco de Brasília para a temporada de 2020 [9], possibilitando a participação
        do clube no Campeonato Brasileiro de Clubes, torneio criado pela Confederação Brasileira de Basketball (CBB),
        para substituir a Liga Ouro como segunda divisão do basquete nacional.

        Em março de 2020, porém, nas vésperas da estreia do Cerrado no Campeonato Brasileiro,
        a pandemia de COVID-19 obrigou a CBB a adiar o início do torneio, que acabou sendo formalmente
        cancelado em julho.
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Lucas Lima</dd>
        <dd>Luis</dd>
        <dd>Coelho</dd>
        <dd>JV Vieira</dd>
        
        <dt>Ala/Amador:</dt>
        <dd>Paulo</dd>
        <dd>Crescenzi</dd>
        <dd>Fuller</dd>
        <dd>Von Haydin</dd>

        <dt>Ala:</dt>
        <dd>John</dd>
        <dd>Duarte</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Alex</dd>
        <dd>D. Nunes</dd>
        <dd>Ambrosino</dd>

        <dt>Pivô:</dt>
        <dd>Sérgio</dd>
        <dd>B. Fiorotto</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Bruno Cézar Palhares Lopes</dd>

        <dt>Supervisor:</dt>
        <dd>Ronaldo Pacheco de Oliveira Filho</dd>
      </dl>
      
</body>
</html>