<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Corinthias</title>
</head>
<body>
    <h1>Corinthians</h1>
    <h3>História</h3>
    <p>
        Desde quando o esporte era mais conhecido como bola ao cesto, o basquete alvinegro já tinha força e tradição 
        no cenário nacional. Logo após a inauguração do Parque São Jorge, em 1928, iniciou-se a atividade no clube. 
        A quadra, ainda de saibro, foi uma das primeiras da cidade. No mesmo ano, foi realizada a primeira partida contra 
        o América do Rio de Janeiro. A estréia já foi promissora, pois o time alvinegro venceu por 16 a 2, resultado do primeiro 
        tempo. A equipe carioca, desanimada com a derrota inicial, não retornou para o segundo tempo.

        Participaram desse jogo os corinthianos Vailatti, Toni I, Capella, Catelli, Bambista, Chumbão e Cavalheiro. Em 1936, 
        o Corinthians levantou seu primeiro título paulista. O clube voltaria às conquistas com o bicampeonato paulista de 1947 e 1948,
        e o octacampeonato da cidade de São Paulo entre 1950 e 1957. Foram destaques nessa fase atletas como Irineu, Rosa, Toni II, 
        Gemignani, Capella, Borbolla, Luisinho, Angelim, Cabrobi, Brás, Sacoman entre outros.

        As maiores glórias, porém, foram obtidas a partir de 1965, com o título sul-americano. A equipe, que também venceu a Taça Brasil, 
        foi considerada uma das melhores do mundo, e tinha atletas de grande qualidade, como Edvar, Angelim, Wlamir Marques, Rosa Branca, 
        Ubiratan, Amaury, Borbola, Luizinho, Braz, Mical, Renê, Ortiz, Gilberto e Pedro Ives. O mesmo grupo, em 1966, foi vice-campeão no 
        primeiro Mundial Interclubes, disputado na Espanha, perdendo na final para a equipe italiana do Ignis Varese. Ainda nesse ano, foi 
        bicampeão sul-americano, título conquistado no ginásio do Parque São Jorge, e venceu o Campeonato Metropolitano, cuja final foi contra o 
        Palmeiras.

        As mulheres corinthianas também têm tradição na modalidade. O basquete feminino começou a ser praticado na década de 1950, 
        e logo foi conquistando títulos. Na virada das décadas de 1950 e 1960, as mosqueteiras dominaram o basquete paulistano. 
        Elas foram pentacampeãs paulistas entre 1959 e 1963. Partiram para vôos internacionais e conquistaram competições como o Torneio Internacional de Assunção, 
        no Paraguai, e a Copa América em 1964. As principais atletas desse período foram Adilia, Jussara, Vânia, Ana, Dalva, Daise, Angelina, Dinice, Célia, Registina,
        Ruth, Ercilia, Sueli e Elza Zaragoza, Nilza, Marlene, Ivone, Lourdes, Carmem Silva e Luigina.
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Fisher</dd>
        <dd>Dalaqua</dd>
        <dd>Gegê</dd>

        <dt>Ala/Amador:</dt>
        <dd>Fuller</dd>
        <dd>Vezarinho</dd>
        <dd>Anderson</dd>
        <dd>JP de Paula</dd>

        <dt>Ala:</dt>
        <dd>Victor</dd>
        <dd>Cestari</dd>
        <dd>Miller</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Siewert</dd>
        <dd>Djalo</dd>
        <dd>Arthur</dd>

        <dt>Pivô:</dt>
        <dd>Honorato</dd>
        <dd>Renato</dd>
        <dd>L. Cauê</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Demétrius Conrado Ferracciú</dd>

        <dt>Assistente Técnico:</dt>
        <dd>Vitor Galvani Cardoso</dd>

        <dt>Supervisor:</dt>
        <dd>Antonio Fernando Romero Junior</dd>
        
        <dt>Fisioterapeuta:</dt>
        <dd>Rafael Rocha Garcia</dd>
      </dl>

</body>
</html>