<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Times</title>
</head>
<body>
    <h1>Times Participantes</h1>
   
    <ul>
        <li><a href="bauru">Bauru</a></li>
        <li><a href="brasilia">Brasília</a></li>
        <li><a href="caxias">Caxias do Sul</a></li>
        <li><a href="cerrado">Cerrado Basquete</a></li>
        <li><a href="corinthians">Corinthians</a></li>
        <li><a href="flamengo">Flamengo</a></li>
        <li><a href="fortaleza">Fortaleza B. C.</a></li>
        <li><a href="sesi">Sesi Franca</a></li>
        <li><a href="minas">Minas</a></li>
        <li><a href="mogi">Mogi</a></li>
        <li><a href="pato">Pato Basquete</a></li>
        <li><a href="paulistano">Paulistano</a></li>
        <li><a href="pinheiros">Pinheiros</a></li>
        <li><a href="sao_paulo">São Paulo</a></li>
        <li><a href="unifacisa">UNIFACISA</a></li>
        <li><a href="mourao">Campo Mourao</a></li>
    </ul>
</body>
</html>