<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Flamengo</title>
</head>
<body>
    <h3>História</h3>
    <p>
        O Clube de Regatas do Flamengo foi fundado em 1895 no Rio de Janeiro com uma única modalidade, o remo.
        Em 1912 o clube abriu seu 2º departamento, aquele que o tornou mundialmente conhecido, o futebol. 
        Depois destes dois, o esporte de maior tradição no clube é sem dúvida o basquete. Uma tradição de longa data, 
        pois o Flamengo foi campeão do primeiro torneio disputado no Brasil, o Campeonato Carioca de Basquete de 1919. 
        O quinteto titular do Flamengo nesta conquista era formado por Carlos Santive, Itagibe Novaes, Maroim Marwin, 
        Rizzo Zeth Baptista e o capitão Mário Sayão de Carvalho Araújo, o Romano. Em São Paulo, o basquetebol só começou 
        em 1925, com o Espéria despontando tricampeão em 1925-26-27. Antes, a bola laranja já havia subido no Rio Grande do Sul, 
        2º estado onde o basquete foi implementado: a campeã gaúcha de 1923 foi a Associação Cristã de Moços (ACM).
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Yago</dd>
        <dd>Balo</dd>
        <dd>Cristhyã</dd>
        <dd>JV Vieira</dd>

        <dt>Ala/Amador:</dt>
        <dd>Pedro Nunes</dd>
        <dd>Chuzito</dd>

        <dt>Ala:</dt>
        <dd>Jhonatan</dd>
        <dd>Marquinhos</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Ruan</dd>
        <dd>Mineiro</dd>
        <dd>Olivinha</dd>
        <dd>R. Rachel</dd>
        <dd>Maciel</dd>
        <dd>Demétrio</dd>

        <dt>Pivô:</dt>
        <dd>Hettsheimeir</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Gustavo Antonio de Conti</dd>

        <dt>Supervisor:</dt>
        <dd>André Luiz da Costa Guimarães</dd>
      </dl>
</body>
</html>