<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Fortaleza</title>
</head>
<body>
    <h1>Fortaleza</h1>
    <h3>História</h3>
    <p>
        O time do Basquete Cearense, fundando em 23 de junho de 2012,[1] foi o primeiro time do Nordeste brasileiro a participar
        do NBB e teve sua apresentação oficial no dia 30 de agosto de 2012.

        A agremiação cearense iniciou a pré-temporada de seu primeiro ano de vida fazendo um tour pela China,
        onde enfrentou diversas equipes locais e combinados de universidades norte-americanas. Nesta mesma excursão, 
        conquistou seu primeiro troféu, a Taça Cidade de Ming Guan.[3] A equipe contou, durante seu primeiro campeonato nacional, 
        com nomes como Rogério Klafke e os estrangeiros Robinson[4] e Dragovic,[5] e mandou seus jogos no Ginásio Paulo Sarasate 
        e no Ginásio da Unifor.
        
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Brite</dd>
        <dd>Cauê</dd>
        <dd>J. Gabriel</dd>
        <dd>Lassance</dd>
        <dd>Lobo</dd>

        <dt>Ala:</dt>
        <dd>Holloway</dd>
        <dd>Gabriel</dd>
        <dd>Rashaun</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Alex</dd>
        <dd>Sualisson</dd>
        <dd>Felipe</dd>

        <dt>Pivô:</dt>
        <dd>Mathias</dd>
        <dd>Nogueira</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Alberto Bial</dd>

        <dt>Assistente Técnico:</dt>
        <dd>Tancredo Cesar Barbosa Menezes</dd>

        <dt>Preparador Físico:</dt>
        <dd>Julio Cesar Fernandes de Sousa</dd>
        
        <dt>Fisioterapeuta:</dt>
        <dd>Edgerson Siebra Pereira</dd>
      </dl>

</body>
</html>