<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title class="centro">Campeonato de Basquete</title>
    <link rel="stylesheet" type="text/css" href="fundo.css">
</head>
<body>
    <div class="bordas">
        <h1 class="centro">Campeonato de Basquete</h1>
        <h3 class="centro"> <a href="equipes"> Ver Equipes</h3></a>
        <h3 class="centro"> <a href="cadastrartime"> Cadastrar times</h3></a>
        <h3 class="centro"> <a href="cadastrosms"> Cadastrar sms</h3></a>
        <h3 class="centro"> <a href="cadastroplacar"> Cadastrar placar</h3></a>
    </div>
        <table border = 2 "color: #000000;">
            <tr class="centro">
                <td><h3><a href= "bauru"> BAURU </a></h3></td>
                <td><h3> 79  x 81 </h3></td>
                <td><h3><a href= "sesi"> SESI FRANCANA</a><h3></td>
            </tr>
            <tr>
                <td><h3><a href= "brasilia"> BRASÍLIA </a></h3></td> 
                <td><h3> 71 x 106 </td>
                <td><h3><a href= "pinheiros"> PINHEIROS</a></h3></td>
            <tr>
                <td><h3><a href= "caxias"> CAXIAS DO SUL </a></h3></td>
                <td><h3> 70 x 80 </h3></td>
                <td><h3><a href= "mogi"> MOGI </a></h3></td>
            <tr>
                <td><h3><a href= "cerrado"> CERRADO BASQUETE </a></h3></td>
                <td><h3> 71 x 99 </h3></td>
                <td><h3><a href= "unifacisa"> UNIFACISA </a></h3></td>
            <tr>
                <td><h3><a href= "corinthians"> CORINTHIANS </a></h3></td>
                <td><h3> 70 x 77 </h3> </td>
                <td><h3><a href= "minas"> MINAS </a></h3></td>
            <tr>
                <td><h3><a href= "fortaleza">FORTALEZA B. C. </a></h3></td>
                <td><h3> 99 x 95 </h3></td>
                <td><h3><a href= "paulistano"> PAULISTANO </a></h3></td>
            <tr>
                <td><h3><a href= "pato"> PATO BASQUETE </a></h3></td>
                <td><h3> 83 x 87 </h3></td>
                <td><h3><a href= "pinheiros"> PINHEIROS </a></h3></td>
            <tr>
                <td><h3><a href= "paulistano"> PAULISTANO </a></h3></td>
                <td><h3> 90 x 101 </h3></td>
                <td><h3><a href= "unifacisa"> UNIFACISA </a></h3></td>
            <tr>
                <td><h3><a href= "sao_paulo"> SÃO PAULO </a></h3></td>
                <td><h3> 106 x 103 </h3></td>
                <td><h3><a href= "unifacisa"> UNIFACISA </a></h3></td>
            <tr>
                <td><h3><a href= "sao_paulo"> SÃO PAULO  </a></h3></td>
                <td><h3> 90 x 79 </h3></td>
                <td><h3><a href= "mourao"> CAMPO MOURÃO </a></h3></td>
        </table>      
</body>
</html>