<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Minas</title>
</head>
<body>
    <h1>Minas</h1>
    <h3>História</h3>
    <p>
        O basquete do Minas surgiu em 1937 e foi um dos primeiros esportes a dar bons resultados ao clube. 
        A primeira medalha olímpica conquistada por um atleta do Minas foi com o jogador de basquete Moisés Blás, 
        que integrou a seleção brasileira nos Jogos de Roma, em 1960. Com grande tradição no basquete, 
        a equipe minastenista participa do Campeonato Brasileiro desde quando este tinha o nome de Taça Brasil. 
        A primeira disputa no certame ocorreu em 1966 e o Minas ficou com o terceiro lugar, colocação que se repetiu 
        na Taça Brasil de Basquete de 1971. Quando o Campeonato Brasileiro passou a se chamar Campeonato Nacional de Basquete, 
        as melhores participações do Minas foram em 2003 e em 2008, terminando as duas edições em terceiro.
        A equipe possui mais temporadas consecutivas na elite do basquetebol brasileiro, tendo disputado todas edições do 
        principal campeonato nacional da modalidade desde 2002 (o Franca não disputou o Campeonato Nacional de Basquete de 2008, 
        devido ao boicote das equipes paulistas à competição).

        O Minas foi um dos fundadores do Novo Basquete Brasil. As melhores campanhas do clube foram no NBB 2008-09 (terceiro lugar) 
        e no NBB 2009-10 (quarto lugar). A nível estadual, conquistou o Campeonato Mineiro por 20 vezes, sendo a última em 2018.
        As categorias de base também são destaque no clube, conquistando títulos estaduais, nacionais e internacionais.
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Davi</dd>
        <dd>Parodi</dd>

        <dt>Ala:</dt>
        <dd>Rafa Moreira</dd>
        <dd>Gui Santos</dd>
        <dd>Ribeiro</dd>
        <dd>Johnson Jr</dd>
        <dd>David Jackson</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Queiros</dd>
        <dd>Nesbitt</dd>
        <dd>Dias</dd>

        <dt>Pivô:</dt>
        <dd>Ronald</dd>
        <dd>Batista</dd>
        <dd>Augusto</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Leonardo Costa</dd>

        <dt>Assistente Técnico:</dt>
        <dd>Bruno Porto Prado e Silva</dd>

        <dt>Preparador Físico:</dt>
        <dd>Bruno Henrique Ferreira Camargo</dd>
        
        <dt>Fisioterapeuta:</dt>
        <dd>Silvanio Miranda Signoretti Junior</dd>
      </dl>

</body>
</html>