<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Mourao</title>
</head>
<body>
    <h1>Mourão</h1>
    <h3>Campo Mourrão</h3>
    <p>
        O Campo Mourão Basquete surgiu no cenário do NBB em 2014, na primeira edição da Liga 
        Ouro. Na terceira participação no torneio, que dava ao campeão o direito de disputar 
        o NBB, o time foi o vice-campeão de 2016, mas conseguiu a vaga na elite.
        Na Liga Ouro 2019, foi até a semifinal e acabou eliminado pelo São Paulo FC. Mas a 
        Liga Ouro acabou extinta e abriu possibilidade para uma ida “direta” ao NBB, já que o 
        time já tinha o vínculo associativo com a Liga Nacional de Basquete. Mas os requisitos 
        necessários não foram cumpridos, e o time acabou ficando de fora do NBB 2019/2020. Foi 
        aí que teve início um novo recomeço no time…

        O projeto de retorno do Campo Mourão Basquete começou em agosto de 2019, com uma
        equipe Sub-21 que conquistou o bronze do Campeonato Paranaense do mesmo ano. Essa 
        mesma equipe disputaria o nacional da CBB, Jogos Universitários, Jogos Abertos do 
        Paraná e também a LDB (Sub-22).

        “O intuito era criar uma base e preparar os garotos para ver quem teria condições de 
        fazer parte do elenco adulto no NBB”, disse Emerson de Souza.
        Em paralelo a isso, o time começou a agir fortemente com ações fora das quatro linhas. 
        Foram nesse momento que tiveram início as negociações de patrocínio máster com a Vip 
        Tech, que segue com a equipe para o NBB, e também o processo de filiação com o CBC 
        (Comitê Brasileiro de Clubes), juntamente com a Fundação de Esportes de Campo Mourão e
         a ASSERCAM.

        E tem mais: o Ginásio de Esportes JK, que foi uma das casas do Campo Mourão nos dois 
        anos de NBB, ganhou uma reforma para a temporada 2020/2021. Junto com Prefeitura e Governo do Estado, a equipe viabilizou a reestruturação do local para valorizar atletas, torcedores e parceiros.

        “Todo esse planejamento nasceu de uma tristeza momentânea, que veio quando percebemos 
        que não teríamos condições de jogar o NBB 12. Essa tristeza durou um dia. No dia 
        seguinte começamos reuniões e ações para voltar ao NBB. Hoje, quando temos essa base 
        garantida, com a nossa franquia retornando ao NBB, não tem como esconder a satisfação 
        e alegria”, comentou o gestor e treinador do Campo Mourão.

        Com 94 mil habitantes, a cidade de Campo Mourão (PR) será a segunda menor do NBB, 
        atrás apenas da vizinha Pato Branco, que tem 82 mil. Mesmo com esse baixo número, a 
        população mourãoense abraçou o basquete e teve ótimos públicos em suas partidas.

        O basquete adulto está ativo na cidade há 12 anos, mesmo com a saída momentânea do NBB. 
        Seja jogando Liga Ouro, Campeonato Paranaense, campeonatos nacionais, como a Supercopa 
        Brasil, Copa Brasil Sul… Isso também é motivo de orgulho para Campo Mourão.

        “A cidade aprendeu a gostar de basquete, então voltar ao NBB agora tem um gosto muito
        bom. Para nós é como se fosse um presente, ver todo o trabalho e dedicação de todo
        mundo sendo coroado com o retorno ao NBB”, declarou Emerson de Souza, que ainda 
        ressaltou a importância para região da Comcam (Comunidade dos Municípios da Região 
        de Campo Mourão), que conta com 350 mil habitantes divididos em 25 municípios, e 
        para o basquete paranaense como um todo.

        “Não há como negar a importância também para a região da Comcam ter o NBB inserido 
        nesse contexto todo. O basquete paranaense também ganha. O Campeonato Paranaense pode
        ter 10 ou mais equipes, isso mostra o crescimento do basquete paranaense também no 
        cenário nacional. Ter duas equipes no NBB, como Campo Mourão e Pato Basquete, com
        certeza irá ajudar a Federação Paranaense a promover um intercâmbio ainda maior 
        com os principais centros de basquete do país”, comentou Emerson.

    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Anderson</dd>
        <dd>Mangum IV</dd>
        <dd>Wes</dd>
        <dd>Wander Broock</dd>
        
        <dt>Ala/Amador:</dt>
        <dd>W. Cezar</dd>
        <dd>L. Muller</dd>

        <dt>Ala:</dt>
        <dd>M. Pajé</dd>
        <dd>Edu Mariano</dd>
        <dt>Ala/Pivô:</dt>
        <dd>Wesley</dd>
        <dd>César</dd>

        <dt>Pivô:</dt>
        <dd>Ruan</dd>
        <dd>Ygor F.</dd>
        <dd>Omar</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Emerson Luiz de Souza</dd>

        <dt>Supervisor:</dt>
        <dd>Guilherme Capelli do Nascimento</dd>
      </dl>
</body>
</html>