<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Pato</title>
</head>
<body>
    <h1>Pato Basquete</h1>
    <p>
        Com o apoio de todos os patobranquenses, a Associação de Basquete de Pato Branco, deu início a um projeto,
        denominado Pato Basquete, cujo objetivo é a montagem de um time profissional para a disputa das principais competições estaduais 
        e nacionais da modalidade em um futuro próximo. Entre os nomes que fazem parte deste sonho de ver o nome da nossa cidade brilhando no 
        lugar mais alto do basquete nacional, nomes como Belmar Ramos Júnior, Robson Machado, Joanes Pasine, Giacomoni Missio e Daniel Bertol.
        Um sonho tão grande como este, porém, só é possível a partir de um sólido projeto capaz de trabalhar não só questões relacionadas à
        qualidade da equipe, mas, fundamentalmente, dos recursos necessários a oferecer aos atletas as condições necessárias para bem representar 
        nossa cidade nas muitas competições que certamente terão pela frente. Com esse propósito, o Projeto Pato Basquete, através da Associação de 
        Basquete de Pato Branco, deseja que você conheça e também faça parte desse sonho.
    </p>

    <dl>
        <dt>Armador:</dt>
        <dd>Murilo</dd>
        <dd>Matheusinho</dd>
        <dd>Lucas</dd>
        <dd>Augusto</dd>

        <dt>Ala/Amador:</dt>
        <dd>I. Thornton</dd>

        <dt>Ala:</dt>
        <dd>Servelin</dd>
        <dd>Derick</dd>
        <dd>Kirsten</dd>
        <dd>Gabriel</dd>
        <dd>Aquiles</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Funches III</dd>
        <dd>Scheuer</dd>

        <dt>Pivô:</dt>
        <dd>Leal</dd>
        <dd>Rodrigues</dd>
    </dl>

    <h3>Comissão Técnica</h3>
    <dl>
        <dt>Treinador/Técnico:</dt>
        <dd> André Luiz Chueri da Silva Barbosa </dd>

        <dt>Supervisor:</dt>
        <dd> Carlos Magno Lettrari dos Santos </dd>
    </dl>
</body>
</html>
