<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Paulistano</title>
</head>
<body>
    <h1>Paulistano</h1>
    <h3>História do Paulistano</h3>
    <p>
        O Clube Athletico Paulistano tem uma participação de destaque no basquetebol brasileiro.
        São inúmeras participações no Campeonato Paulista e no Brasileiro. A modalidade começou a ser praticada no clube em 1922. 
        Em 1924, o Paulistano participou da fundação da Federação Paulista de Basketball. O seu primeiro título no basquete adulto foi em 1944, 
        no antigo Campeonato Paulista da Capital (ou Campeonato Paulistano), onde apenas as equipes da cidade de São Paulo competiam.
        Para ficar com o troféu, o CAP superou o Corinthians na decisão. Seus times de base conquistaram inúmeros títulos pelo estado de São Paulo.
        Na equipe profissional, um dos grandes ídolos do clube foi Marcelinho Huertas.
        Apesar de tradicional nos campeonatos de base, o Paulistano demorou para voltar a integrar a elite do Paulista.
        Depois de disputar algumas edições da divisão de acesso na década de 90, o clube esteve na edição de 1999 no Campeonato Estadual.
        Depois de três anos de hiato, voltou a participar do campeonato do estado, mas dessa vez pensando a longo prazo.
        Em 2003, objetivando uma vaga no Nacional, o Paulistano disputa e conquista a etapa Sul da Copa Brasil, que reunia equipes de MG, PR, RJ, RS, SC, GO e SP.
        Com o título, a equipe garantiu vaga na Supercopa Brasil, onde foi vice-campeã perdendo para o Lobos Brasília na decisão.
     </p>

     <dl>
        <dt>Armador:</dt>
        <dd>Vinícius</dd>
        <dd>Ruivo</dd>
        <dd>Beto</dd>
        <dd>Buiú </dd>
        <dd>Du Sommer</dd>

        <dt>Ala/Amador:</dt>
        <dd>Vinícius Chaga</dd>
        <dd>Cauê</dd>
        <dd>Deryk</dd>
        <dd>Jonatan</dd>

        <dt>Ala:</dt>
        <dd>Daniel</dd>
        <dd>Jimmy</dd>
        <dd>Barbosa</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Doria</dd>
        <dd>Vitão</dd>
        <dd>Cardoso</dd>
        <dd>Tarek</dd>

        <dt>Pivô:</dt>
        <dd>Rafael</dd>
        <dd>Maique</dd>
     </dl>

     <h3>Comissão Técnica</h3>
     <dl>
        <dt>Treinador/Técnico:</dt>
        <dd> Regis Roberto Marrelli</dd>

        <dt>Supervisor:</dt>
        <dd>Roberto Francisco Jayme</dd>
    </dl>
</body>
</html>