<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Pinheiros</title>
</head>
<body>
    <h1>Pinheiros</h1>
    <h3>História</h3>
    <p>
        Com o basquete introduzido no clube em 1926, o Esporte Clube Pinheiros há anos 
        integra as principais competições de basquete do país, participando com frequência 
        do Campeonato Paulista, especialmente a partir da década de 90. No Campeonato 
        Brasileiro, o clube participou pela primeira vez do torneio ao disputar o Campeonato 
        Nacional de 1995. No entanto, os primeiros títulos no adulto vieram no começo dos 
        anos 2000. Em 2001, a equipe conquistou o Torneio Novo Milênio. Em 2002, a Supercopa 
        Brasil de maneira invicta ao bater o Automóvel Clube de Campos (RJ) na decisão. No 
        segundo semestre de 2006, o Pinheiros fez uma parceria com a AD Santo André, jogando 
        as competições do estado como Pinheiros/Santo André. A fusão se encerrou no começo 
        de 2008, após a eliminação no Paulista de 2007. Os resultados mais expressivos do 
        clube no basquete vieram somente a partir de 2010. Neste ano, o Pinheiros chegou à 
        decisão do Campeonato Paulista, perdendo a série decisiva para o Limeira por 3 a 1.

        No NBB 2010-11, o Pinheiros conquistou um inédito terceiro lugar, o que permitiu ao 
        clube disputar torneios internacionais pela primeira vez na sua história. Logo na 
        primeira disputa da Liga Sul-Americana em 2011, os pinheirenses alcançaram a decisão, 
        mas foram derrotados pelo Obras Sanitarias, da Argentina, por 88 a 73.

        Em 2011, enfim, o clube conquistou o seu primeiro título paulista, ao bater o São José 
        na final do torneio por três jogos a um. Além do título o Pinheiros quebrou um tabu: 
        há 25 anos uma equipe da Capital Paulista não se sagrava campeã do estado. Na edição 
        11-12 do Novo Basquete Brasil, o time de São Paulo alcançou a mesma posição da edição 
        passada, sendo essas suas melhores participações na competição.

        Já na temporada 2012-13, o time alcançou sua maior glória: sagrou-se campeão da Liga 
        das Américas de 2013 (principal competição das Américas, fora a NBA), ao vencer dois 
        dos três jogos do quadrangular final, disputado em Porto Rico. Seu principal jogador, o 
        ala Shamell foi eleito o MVP (melhor jogador) da competição.[12] Com o título, o time se 
        credenciou para a disputa da Copa Intercontinental contra o campeão da Euroliga de 
        basquete de 2013, o Olympiacos, da Grécia. Após dois jogos disputados e duas vitórias 
        dos gregos (81 a 70 e 86 a 69), a equipe paulista ficou com o vice-campeonato mundial. No 
        Campeonato Estadual de 2012, o Pinheiros chegou à final pela terceira vez consecutiva. O 
        adversário foi o São José, assim como no ano anterior, porém, desta vez, os joseenses 
        deram o troco e ficaram com título ao fazer 3 a 2 no playoff final.

        No ano seguinte (2014), o Pinheiros chegou novamente à final do maior torneio da América, 
        que já contava com um novo formato na fase final, porém foi derrotado pelo Flamengo por 
        85 a 78. Outras participações de destaque em torneios internacionais da equipe 
        pinheirense, incluem dois vice-campeonatos do Torneio Interligas: em 2011 
        (derrotado pelo Obras Sanitarias por 80 a 77) e em 2012 (derrotado pelo Peñarol 
        por 88 a 75).

        O clube pinheirense também demonstra força nas equipes de base. Em 2015, o sub-22 do 
        Pinheiros foi campeão da Liga de Desenvolvimento de Basquete (LDB), após vencer o 
        anfitrião Minas por 81 a 78. Em 2018, o clube tornou-se bicampeão da competição, 
        ao bater o Paulistano por 81 a 61 com o time sub-20. Em 2019, conquistou o 
        tricampeonato, passando a ser o maior campeão da LDB.

    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>T. Faria</dd>
        <dd>Gabriel</dd>
        <dd>Buffat</dd>
        <dd>Zubiaurre</dd>

        <dt>Ala/Amador:</dt>
        <dd>Valter</dd>
        <dd>Humberto</dd>
        <dd>Elvis F.</dd>
        <dd>Sena</dd>

        <dt>Ala:</dt>
        <dd>Jamison</dd>
        <dd>Munford</dd>
        <dd>Atterberry</dd>

        <dt>Pivô:</dt>
        <dd>Teichmann</dd>
        <dd>D. Souza</dd>
        <dd>M. Douglas</dd>
        <dd>W. Sena</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>César Máximo Guidetti</dd>
        
        <dt>Gerente:</dt>
        <dd>Claudio Roberto de Castilho</dd>
      </dl>
</body>
</html>