<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>São Paulo</title>
</head>
<body>
    <h1>São Paulo</h1>
    <p>
        O primeiro título do basquetebol são-paulino foi o Campeonato Paulista da Capital 
        de 1943. Ganhou também o Campeonato Estadual da 1.ª Divisão, em 1989, participando 
        da elite em 1990. Em 2005, o clube voltou a disputar o Campeonato Paulista, só que 
        em parceria com a AD Santo André. Em novembro de 2018, o São Paulo oficializou a volta 
        da equipe de basquete profissional do clube para a disputa da Liga Ouro, que dá ingresso 
        ao Novo Basquete Brasil, a principal divisão da modalidade no Brasil, que é organizada 
        pela Liga Nacional de Basquete (LNB).Na Liga Ouro de 2019, o Tricolor foi derrotado no 
        playoff final pela Unifacisa por 3 a 2 e ficou com o vice campeonato. Mesmo com o segundo 
        lugar, o São Paulo garantiu vaga no NBB após adquirir a vaga do Joinville/AABJ, que não 
        conseguiu reunir condições financeiras de disputar a edição de 2019-20 do torneio.
        Em 2019, após 29 anos de ausência, voltou a disputar uma edição do Campeonato Paulista de 
        forma independente e obteve a melhor colocação de sua história no estadual. No Paulista de 
        2019, o São Paulo chegou à semifinal após derrotar o Bauru no playoff quartas de final por 
        dois jogos a um, depois de ganhar o jogo três na prorrogação e tendo revertido uma 
        desvantagem de 15 pontos no último quarto, eliminando o oponente em pleno ginásio do 
        adversário.Na semifinal, a equipe são-paulina foi batida pelo Franca na série melhor de 
        três por 2 a 0.

    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Dawkins</dd>
        <dd>Georginho</dd>
        <dd>Igor</dd>

        <dt>Ala:</dt>
        <dd>D. Penteado</dd>
        <dd>Shamell</dd>
        <dd>Isaac</dd>
        <dd>Bennett</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Jefferson</dd>
        <dd>Renan</dd>

        <dt>Pivô:</dt>
        <dd>Lucas Mariano</dd>
        <dd>Gerson</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Claudio Mortari</dd>
        
        <dt>Diretor:</dt>
        <dd>João José de Castro Salgueiro</dd>
        <dd>Mauricio Sanzi</dd>
      </dl>
</body>
</html>