<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Sesi</title>
</head>
<body>
    <h1>Sesi</h1>
    <h3>História</h3>
    <p>
        Alicerçado em uma história de 50 anos ininterruptos de participações nacionais e internacionais,
        conquistando centena de títulos, o Franca Basquetebol é conhecido como o clube de basquete mais 
        tradicional do Brasil. Mantendo uma estrutura ideológica baseada em princípios e ideais esportivos, 
        iniciou-se em maio em 1959 e segue um trajetória de sucesso até os dias de hoje.

        O Clube é famoso em todo o país pela unidade de planejamento e esforço conjunto de seus treinadores e 
        diretores, através da realização de um competente trabalho de base formando todos os anos vários jogadores 
        de alto nível, presentes nas principais equipes da modalidade. Grandes personalidades do esporte já passaram 
        pela cidade de Franca, desde o lendário treinador Pedro Morilla Fuentes, mais conhecido como Pedroca, até o 
        ex-técnico da Seleção Brasileira, Lula Ferreira, atual comandante do time francano.
        Franca é considerada a Capital do Basquete do Brasil devido aos fortes vínculos da cidade com o esporte e a 
        tradição do time presente no município. Aqui, o basquete é visto diferente, é sentido e vivido de forma intensa 
        pela população e jogadores. Franca é uma cidade que respira basquete e o Franca Basquetebol Clube é a tradução do
        amor de uma cidade por uma equipe.
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Adyel</dd>
        <dd>Elinho</dd>
        <dt>Ala/Armador:</dt>
        <dd>Reynan</dd>
        <dd>Zu Jr</dd>
        
        <dt>Ala:</dt>
        <dd>Fuzaro</dd>
        <dd>Vitor</dd>
        <dd>Leo Cravero</dd>
        <dd>Léo Abreu</dd>
        <dd>Du Klafke</dd>
        <dd>Kauã Temponi</dd>
        <dd>André Goes</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Marcio</dd>
        <dd>Lucas Dias</dd>
        <dd>Edu Marília</dd>
        <dd>Nascimento</dd>
        <dd>Gui Abreu</dd>
        <dd>Nathan</dd>

        <dt>Pivô:</dt>
        <dd>Hubner</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Hélio Rubens Garcia Filho</dd>

        <dt>Assistente Técnico:</dt>
        <dd>Pablo Costa</dd>

        <dt>Preparador Físico:</dt>
        <dd>Douglas Nazar de Mello</dd>

        <dt>Fisioterapeuta:</dt>
        <dd>Rogerio Augusto de Andrade Barbosa</dd>
      </dl>
</body>
</html>