<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>UNIFACISA</title>
</head>
<body>
    <h1>UNIFACISA</h1>
    <p>
        O basquete da Unifacisa surgiu em 2012 e rapidamente conquistou seu espaço no basquete
         paraibano. A equipe é a atual hexacampeã do estado, tendo conquistado seu primeiro 
         título estadual em 2013. Em 2016, começou a escrever sua história no cenário nacional, 
         ao vencer a etapa do Nordeste da Copa Brasil. No ano seguinte, a Unifacisa conquista o 
         bi da Copa Brasil Nordeste e dá outro passo rumo à elite do basquete brasileiro com a 
         conquista da Supercopa, após derrotar o Cerrado Basquete por 84 a 66. Com isso, a 
         Unifacisa garantiu vaga na Liga Ouro, torneio que dava acesso ao Novo Basquete Brasil. 
         Na primeira participação na Liga Ouro, a equipe de Campina Grande foi eliminado pelo 
         Macaé nas quartas. Na edição de 2019, a Unifacisa novamente conseguiu atingir os 
         playoffs, ao terminar em quarto lugar na fase classificatória. Nas quartas, eliminou o 
         Cerrado Basquete, depois de vencer duas partidas. Na semifinal, derrotou o APVE/Londrina 
         na série melhor de cinco por 3 a 1. Na grande decisão, o adversário foi o São Paulo. 
         Paraíbanos e paulistas fizeram um playoff totalmente equilibrado. Com o triunfo no jogo 
         número cinco, em pleno ginásio do Morumbi, a Unifacisa se tornou o primeiro time do 
         Nordeste a ganhar a Liga Ouro e garantiu vaga na elite do Campeonato Brasileiro (NBB).
    </p>
    <h3>Jogadores</h3>
    <dl>
        <dt>Armador:</dt>
        <dd>Kécio</dd>
        <dd>Pecos</dd>
        <dd>Barnes</dd>
        <dd>Adriel</dd>

        <dt>Ala:</dt>
        <dd>Nehemias</dd>
        <dd>Vezaro</dd>
        <dd>Paulo Nery</dd>
        <dd>Betinho</dd>
        <dd>Gemadinha</dd>

        <dt>Ala/Pivô:</dt>
        <dd>Rafa</dd>
        <dd>Pastor</dd>

        <dt>Pivô:</dt>
        <dd>João Vitor</dd>
        <dd>Alezandrinho</dd>
        <dd>Paranhos</dd>
      </dl>

      <h3>Comissão Técnica</h3>
      <dl>
        <dt>Treinador/Técnico:</dt>
        <dd>Felipe Luiz Santana</dd>
        
        <dt>Supervisor:</dt>
        <dd>Matheus Muniz Felipe</dd>
      </dl>
</body>
</html>